server:
  port: 8082

spring:
  profiles:
    active: dev
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB

mybatis:
  #Mybatis xml 配置文件路径
  mapper-locations: classpath:/mapper/**/*.xml